@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --SideMenu-color: #1ba098;
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;

}

.body {
  background-color: #1ba098;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;

}
@media (max-width: 768px) {
  .Dashboard {
    height:auto;
}
}
.Dashboard {
  min-height: 800px;
  height: calc(100vh - 56px);
}

.trapezoid {
	border-bottom: 40px solid rgb(191, 219, 254);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	height: 0;
	width: 125px;
}
.trapezoid1 {
	border-bottom: 30px solid rgb(191, 219, 254);
	border-left: 10px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 100px;
}
.trapezoid2 {
	border-bottom: 30px solid rgb(191, 219, 254);
	border-left: 00px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 100px;
}
.parallelogram {
	width: 100px;
	height: 30px;
	transform: skew(20deg);
	background: #e0d0d0;
}
.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}